body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
/*
table{
  position: relative;
  left: 550px;
  text-align: left;
}*/

h1 {
  margin: 50px auto 0 auto ;
  font-family: 'Moon Dance', cursive;
  font-size: 5.625em;
  color: #66BFBF;
}

h2{
  font-size: 2.5em;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-size: 1.5em;
  color: #66BFBF;
}

p {
  margin: 100px  auto 100px auto;
  line-height: 2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: grey;
  width: 5%;
  margin: 100px auto;
}
/*
a{
  color: #11999E;
  font-family: 'Moon Dance', cursive;

}*/

.copyright{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}

.contact-me{
  width: 30%;
  margin: 100px auto;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.a{
  font-size: 1.5em;
  color: #66BFBF;
}

.intro{
  width: 30%;
  margin: auto;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle {
  padding: 100px 0;
}

.bottom {
  background-color: #66BFBF;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
   position: absolute;
   left: 250px;
   bottom: 300px;
}

.profile1 {
  background-color: #CDDEFF;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
/*
.skill {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}*/
